<div class="component-header">
    <h3>
        <button class="back-button-header" (click)="navigateToLecturerCourses()">Преподаваемые дисциплины</button>
         → 
        <button class="back-button-header" (click)="navigateToCourseGroups()">Группы</button>
         → 
        <button class="back-button-header">Учет студентов</button>
    </h3>
    <nav class="navbar navbar-expand-lg bg-white"></nav>
</div>

<!-- <app-filter-student
    *ngIf="isFilterOpen"
    [students]="students"
    (filterChange)="filterStudents($event)"
></app-filter-student> -->
<app-filter-student *ngIf="isModalOpen" (closeModalEvent)="closeModal()"></app-filter-student>
<app-work-type *ngIf="isModalOpenWorkType" (closeModalEvent)="closeModalWorkType()"></app-work-type>

<div class="card">
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>

        <input *ngIf="students.length !== 0" type="text" class="find-student mb-2 border py-2 px-5 w-full rounded-1" placeholder="Введите имя студента..." [(ngModel)]="searchStudent">
        <div class="table-container mt-3" *ngIf="students.length !== 0">
            <table>
                <thead>
                    <tr>
                        <!-- (click)="openModal()"  -->
                        <th class="column-student" 
                            [style.width]="columnWidth" 
                            [ngStyle]="{'text-color': 'black', 'background-color': 'rgba(229, 235, 255, 0.5)'}"
                            (mousedown)="startResize($event, initialWidth)"
                        >Студенты <i class="fas fa-filter"></i></th>
                        <th *ngFor="let date of dates" 
                            [ngStyle]="{'background-color': isEditable(date) ? 'rgba(229, 235, 255, 0.5)' : 'white'}"
                            class="column-dates"
                            (click)="!isEditable(date) ? openModalWorkType(date) : null">
                                {{ date.getDate() < 10 ? '0' + date.getDate() : date.getDate() }}.{{ (date.getMonth() + 1) < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1 }} <br>
                                {{isWorkDate(date) ? getWorkType(date) : ''}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students | filterStudent: searchStudent; let i = index" [ngStyle]="{'background-color': 'rgba(229, 235, 255, 0.5)'}">
                        <td>{{ student.fullName }}</td>
                        <td *ngFor="let date of dates; let j = index"
                            [ngStyle]="{'background-color': isEditable(date) ? '' : 'white'}"
                            [attr.contenteditable]="isEditable(date) ? 'false' : 'true'"
                            (input)="onEnterKey($event, student, date, i, j)">{{ hasUserIdAndDate(student.userId, date) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <button class="back-button" (click)="navigateToCourseGroups()">Назад</button>  -->
        <button class="send-button mt-4" *ngIf="students.length !== 0" (click)="sendAbsences()">Отправить</button>
    </div>
</div>
