<style>
    .component-header {
        display: flex;
        height: 70px;
        width: 99.5vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        background-color: #fbfcfd;
        box-shadow: 0px 4px 10px rgba(229, 235, 255, 0.5);
        padding-left: 25%;
    }

    .card {
        margin-top: 15px;
        border: 1px solid rgba(199, 213, 255, 0.5);
        width: 75vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .table-container {
        font-size: 12px;
        overflow-x: auto;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        position: relative;
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    .back-button {
        background-color: rgba(15, 71, 255, 0.89);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        margin-top: 12px;
    }

    .back-button-header {
        background: none;
        border: none;
    }

    .fa-filter {
        position: absolute; /* Абсолютное позиционирование для значка фильтра */
        top: 50%; /* Положение значка по вертикали в центре заголовка */
        right: 5px; /* Расстояние значка от правого края заголовка */
        transform: translateY(-50%); /* Центрирование вертикально */
        font-size: 16px; /* Размер значка */
        transition: color 0.3s; /* Плавное изменение цвета */
        color: transparent; /* Прозрачный цвет значка по умолчанию */
        border: 1px solid rgba(199, 213, 255, 0.5);
    }

    th:hover .fa-filter {
        color: rgba(15, 71, 255, 0.89); /* Изменение цвета значка при наведении на заголовок */
    }
</style>

<div class="component-header">
    <h3>
        <button class="back-button-header" (click)="navigateToLecturerCourses()">Преподаваемые дисциплины</button>
         → 
        <button class="back-button-header" (click)="navigateToCourseGroups()">Группы</button>
         → 
        <button class="back-button-header" (click)="navigateToCourseGroups()">Учет студентов</button>
    </h3>
    <nav class="navbar navbar-expand-lg bg-white"></nav>
</div>

<div class="card">
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>

        <div class="table-container mt-3" *ngIf="students.length !== 0">
            <table>
                <thead>
                    <tr>
                        <th>Студенты <i class="fas fa-filter"></i></th>
                        <th *ngFor="let date of dates">{{ date.getDate() }}.{{ (date.getMonth() + 1) < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1 }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students; let i = index">
                        <td>{{ student.fullName }}</td>
                        <td *ngFor="let date of dates; let j = index"
                            (click)="navigateToCourseGroups()"> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="back-button" (click)="navigateToCourseGroups()">Назад</button>
    </div>
</div>
