.component-header {
    display: flex;
    height: 70px;
    width: 99.5vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    background-color: #fbfcfd;
    box-shadow: 0px 4px 10px rgba(229, 235, 255, 0.5);
    padding-left: 25%;
}

.card {
    margin-top: 15px;
    border: 1px solid rgba(199, 213, 255, 0.5);
    width: 75vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.table-container {
    font-size: 12px;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.column-student {
    resize: horizontal;
    overflow: auto;
    border: 1px solid rgba(199, 213, 255, 0.5);
    padding: 8px;
    text-align: center;
    width: 250px;
    min-width: 250px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

.column-student::after {
    content: none !important;
}

th {
    position: relative;
    border: 1px solid rgba(199, 213, 255, 0.5);
    padding: 8px;
    text-align: center;
}

td {
    border: 1px solid rgba(199, 213, 255, 0.5);
    padding: 8px;
    text-align: center;
}

.back-button {
    background-color: rgba(15, 71, 255, 0.89);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 12px;
}

.back-button-header {
    background: none;
    border: none;
}

.back-button:hover {
    box-shadow: 0px 4px 15px rgba(136, 144, 173, 0.5);
}

.fa-filter {
    position: absolute; /* Абсолютное позиционирование для значка фильтра */
    top: 50%; /* Положение значка по вертикали в центре заголовка */
    right: 5px; /* Расстояние значка от правого края заголовка */
    transform: translateY(-50%); /* Центрирование вертикально */
    font-size: 16px; /* Размер значка */
    transition: color 0.3s; /* Плавное изменение цвета */
    color: transparent; /* Прозрачный цвет значка по умолчанию */
    color: rgba(157, 199, 255, 0.5);
}

th:hover .fa-filter {
    color: rgba(15, 71, 255, 0.89); /* Изменение цвета значка при наведении на заголовок */
}

.find-student {
    border: 1px solid rgba(199, 213, 255, 0.5);
}

.find-student:hover {
    box-shadow: 0px 4px 10px rgba(136, 144, 173, 0.5);
}

&:focus {
    border: 1px solid rgba(199, 213, 255, 0.5);
    box-shadow: 0px 4px 10px rgba(229, 235, 255, 0.5);
}

/* Определите стили для полосы прокрутки */
.table-container::-webkit-scrollbar {
    width: 2px; /* Ширина полосы прокрутки */
    border-radius: 2px; /* Задайте округлые углы для полосы */
}

.table-container::-webkit-scrollbar-thumb {
    background-color: rgba(199, 213, 255, 0.5); /* Цвет полосы прокрутки */
    border-radius: 4px; /* Задайте округлые углы для полосы */
}

.table-container::-webkit-scrollbar-track {
    background-color: #f8faff; /* Цвет фона полосы прокрутки */
}