<div class="component-header">
    <h3>
        <button class="back-button-header" (click)="navigateToLecturerCourses()">Преподаваемые дисциплины</button>
         → 
        <button class="back-button-header" (click)="navigateToCourseGroups()">Группы</button>
         → 
        <button class="back-button-header" (click)="navigateToCourseGroups()">Учет студентов</button>
    </h3>
    <nav class="navbar navbar-expand-lg bg-white"></nav>
</div>

<div class="card">
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>

        <div class="table-container mt-3" *ngIf="students.length !== 0">
            <table>
                <thead>
                    <tr>
                        <th>Студенты <i class="fas fa-filter"></i></th>
                        <th *ngFor="let date of dates">{{ date.getDate() }}.{{ (date.getMonth() + 1) < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1 }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students; let i = index">
                        <td>{{ student.fullName }}</td>
                        <td *ngFor="let date of dates; let j = index"
                            (click)="navigateToCourseGroups()"> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="back-button" (click)="navigateToCourseGroups()">Назад</button>
    </div>
</div>
