<div class="component-header">
    <h3>
        <button *ngIf="userFromApi" class="back-button-header" (click)="null">Расписание пользователя: {{userFromApi.fullName}}</button>
    </h3>
    <nav class="navbar navbar-expand-lg bg-white"></nav>
</div>

<div class="card">
    <div class="card-body">
        <div class="container" style="font-size: 16px;">
            Неделя: <span class="week-type">{{ weekNumber % 2 == 0 ? 'Знаменатель' : 'Числитель' }}</span>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>

        <div class="container">
            <table>
                <thead>
                  <tr>
                    <th>№</th>
                    <th>Время</th>
                    <th *ngFor="let day of weeklyDates" 
                        class="date-attribute"
                        [ngStyle]="{'background-color': isNowDay(day.date) ? 'rgba(229, 235, 255, 0.5)' : 'white'}">
                        {{ day.dayOfWeek }}&nbsp;{{ day.date | date: 'dd.MM' }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let numTime of numTimeClassHeld">
                    <td>{{ numTime.id }}</td>
                    <td >{{ numTime.startTime | date: 'HH:mm':'UTC' }}&nbsp;-&nbsp;{{ numTime.endTime | date: 'HH:mm':'UTC' }}</td>
                    <td *ngFor="let day of weeklyDates" [ngStyle]="{'background-color': isNowDay(day.date) ? 'rgba(229, 235, 255, 0.5)' : 'white'}">
                        <div *ngFor="let timetable of filterTimetableByNumTimeAndDay(numTime, day); let i = index">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <div  class="nav-div">
                                        <a class="nav-link rounded-2 text-black"
                                            *ngIf="i < 1" 
                                            (click)="navigateToCourseGroups(timetable.course.id)">
                                                <div class="course-type">
                                                    <span class="name">{{ timetable.course.courseType.name }}</span>
                                                    <span class="classroom" *ngIf="timetable.classroom.classroomNumber !== &quot;Не определена&quot;">
                                                        {{ timetable.classroom.classroomNumber }}
                                                    </span>
                                                </div>
                                                <div class="course-name" style="min-width: 130px;">{{ timetable.course.name }}</div>
                                                <div class="course-type" style="min-width: 130px;">Группы: {{ getGroupNamesByIds(timetable.timetableGroup) }}</div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>        
    </div>
</div>