<div class="modal">
    <div class="modal-content">
        <!-- <h3>Выберите тип проводимых работ: </h3>
        <div *ngFor="let workType of workTypes">
            <label>
                <input type="radio" [(ngModel)]="selectedWorkType" [value]="workType.id"> {{ workType.name }}
            </label>
        </div>
        <button (click)="sendWorkType()">Отправить</button>
        <button (click)="closeModal()">Закрыть</button> -->
        <div class="header">
            <span>Выберите тип проводимой работы</span>
            <span class="close-button" (click)="closeModal()">&times;</span>
        </div>
        <div class="radio-content">
            <div *ngFor="let workType of workTypes">
                <label>
                    <input type="radio" [(ngModel)]="selectedWorkType" [value]="workType.id"> {{ workType.name }}
                </label>
            </div>
            <label>
                <input type="radio" [(ngModel)]="selectedWorkType" [value]="0"> Удалить
            </label>
        </div>
        <div class="footer">
            <button (click)="sendWorkType()">Применить</button>
        </div>
    </div>
</div>