<div class="modal">
    <div class="modal-content">
        <!-- <h3>Выберите тип проводимых работ: </h3>
        <div *ngFor="let workType of workTypes">
            <label>
                <input type="radio" [(ngModel)]="selectedWorkType" [value]="workType.id"> {{ workType.name }}
            </label>
        </div>
        <button (click)="sendWorkType()">Отправить</button>
        <button (click)="closeModal()">Закрыть</button> -->
        <div class="header">
            <span>Выберите тип проводимой работы</span>
            <button class="close-button" (click)="closeModal()">&times;</button>
        </div>
        <div class="radio-content">
            <div *ngFor="let workType of workTypes">
                <label>
                    <input type="checkbox" [(ngModel)]="isChecked[workType.id]" [value]="workType" (change)="toggleSelection(workType)"> {{ workType.name }}
                </label>

                <div *ngIf="isChecked[workType.id]">
                    <input type="number" placeholder="Введите число 1" [(ngModel)]="minGrade">
                    <input type="number" placeholder="Введите число 2" [(ngModel)]="maxGrade">
                    <input type="number" placeholder="Введите число 3" [(ngModel)]="passingGrade">
                </div>
            </div>
        </div>
        <div class="footer">
            <button class="send-button" (click)="sendWorkType()">Применить</button>
        </div>
    </div>
</div>