<div class="modal">
    <div class="modal-content">
        <div class="header">
            <span>Выберите тип проводимой работы</span>
            <button class="close-button" (click)="closeModal()">&times;</button>
        </div>
        <div class="radio-content">
            <div *ngFor="let workType of workTypes">
                <label>
                    <input type="checkbox" [(ngModel)]="checkedWorkType[workType.id].isChecked" [value]="workType" (change)="toggleSelection(workType)"> {{ workType.name }}
                </label>

                <div class="grade-system" *ngIf="checkedWorkType[workType.id].isChecked">
                    <div class="input-container"> 
                        <input type="number" placeholder="Введите число" [(ngModel)]="checkedWorkType[workType.id].minGrade"> - минимальный балл
                    </div>
                    <div class="input-container"> 
                        <input type="number" placeholder="Введите число" [(ngModel)]="checkedWorkType[workType.id].maxGrade"> - максимальный балл
                    </div>
                    <div class="input-container"> 
                        <input type="number" placeholder="Введите число" [(ngModel)]="checkedWorkType[workType.id].passingGrade"> - проходной балл
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <button class="send-button" (click)="sendWorkType()">Применить</button>
        </div>
    </div>
</div>