<style>
    .navbar .nav-link.active {
        background-color: transparent; /* Прозрачный фон */
        border: none; /* Убираем стандартные границы */
        position: relative; /* Позиционирование относительно родителя */
    }

    .navbar .nav-link.active::before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        height: 5px;
        border-radius: 10px;
        background-color: blue;
    }

    .navbar .btn {
        margin-left: auto;
    }
</style>

<!-- nav -->
<nav class="navbar navbar-expand-lg bg-light" style="font-size: 20px;" *ngIf="user">
    <div class="navbar-nav col-md-8 offset-md-2">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Расписание</a>
        <a class="nav-item nav-link" routerLink="/accounting/courses" routerLinkActive="active" *ngIf="isLecturer">Журнал</a>
        <button class="btn btn-link nav-item nav-link" (click)="logout()">{{user.username}}</button>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>