<style>
    .nav .course-type {
        height: 10px;
        font-weight: bold;
        border-radius: 5px;
        background-color: blue;
        padding: 3px;
    }
    
    .nav .course-name {
        margin: 20px;
    }

    .nav .nav-link {
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 10px;
        margin: 3px;
        cursor: pointer;
        transition: 0.5s;
    }

    .nav .nav-link:hover {
        background-color: rgb(236, 245, 252);
    }
</style>

<div class="container mt-3">
    <h3 class="text mt-3">Преподаваемые дисциплины</h3>
    <ul class="nav flex-column mt-4" role="tablist">
        <li class="nav-item" *ngFor="let course of courses; let i = index">
            <a class="nav-link rounded-4 text-black" 
                [ngClass]="{'active': i === 0}"
                (click)="navigateToCourseGroups(course.id)">
                    <span class="course-type text-white">{{ course.courseType.name }}</span>
                    <span class="course-name col-md-8 offset-md-2">{{ course.name }}</span>
            </a>
        </li>
    </ul>
</div>